@keyframes confirm-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes confirmFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.confirmation-section {
    background-color: #f84966;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: confirm-fade-in 1s forwards;
}

.confirm-fade-out {
    animation: confirmFadeOut 1s forwards;
}

.confirmation-title {
    color: #F6F4F7;
    text-align: center;
    font-size: 60px;
}